@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
}

.search-box {
    margin: 20px 0;
}

#search {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #02010289;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}

p {
    margin: 0;
}
